body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.container {
  margin: 2rem;
  border: blue solid 1px;
  box-shadow: 3px 4px #21083d
}

.user-display {
  margin: 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px #0a5b91
}

#timer {
  color: darkred;
}

.play-area {
  margin: 2rem;
  border: maroon solid 1px;
  box-shadow: 3px 4px #3a041d
}

.result {
  margin: 2rem;
  border: darkgrey solid 1px;
  box-shadow: 3px 4px #1b043a
}

.button input[type=button], input[type=submit], input[type=reset]{
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin: 18px 3px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
}

.button a:hover input[type=submit], input[type=reset]{
  background-color: #ddd;
  color: black;
}

ul {
  padding-inline-start: 0px;
}

input[type=text] {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
}

#word {
  position: relative;
  margin: 1em 1em 1em 2em;
  width: 40em;
}

#save-word {
  background-color:red;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}
#save-word:disabled,
#save-word[disabled]{
  background-color:gray;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}
.user-games {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}