body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #6983f7;
}

.page-container {
  text-align: center;
}

.login-container {
  width: 35%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e6e8f2;
  border-radius: 12px;
  transition: 0.25s;
}

h1 {
  color: black;
  opacity: 70%;
}

.log-in {
  color: black;
  opacity: 70%;
  text-transform: uppercase;
}

.input-text {
  border: 0;
  margin: 1rem auto;
  text-align: center;
  padding: 14px 10px;
  width: 65%;
  color: grey;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

.input-text:hover {
  width: 90%;
  border: 2px solid #4bc8f2;
}

.submit, .replay {
  border: 0;
  margin: 1rem auto;
  text-align: center;
  border: 2px solid #6983f7;
  background-color: #6983f7;
  padding: 14px 10px;
  width: 65%;
  border-radius: 24px;
  outline: none;
  color: white;
  transition: 0.25s;
  text-transform: uppercase;
  font-size: 16px;
}

#play-again {
  border-color: #4bc8f2;
  background-color: #4bc8f2;
  margin: 5rem auto;
  cursor: pointer;
  border: 0;
  text-align: center;
  padding: 14px 10px;
  width: 50%;
  border-radius: 24px;
  outline: none;
  color: white;
  transition: 0.25s;
  text-transform: uppercase;
  font-size: 20px;
}

.submit:hover, .replay:hover {
  border-color: #4bc8f2;
  background-color: #4bc8f2;
  cursor: pointer;
}

#word {
  position: relative;
  margin: 1em;
}

.user-display {
  margin: 0rem 0rem 2rem 0rem;
}

#timer {
  padding: 2rem;
  text-align: left;
  color: darkred;
  font-weight: bold;
  display: inline-block;
  width: 40%;
}

#current-score {
  font-weight: bold;
  text-align: right;
  display: inline-block;
  width: 40%;
}

.play-area {
  margin: 5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e8f2;
  border-radius: 12px;
}

#char-list {
  display: flex;
  justify-content: center;
}

.guess-letter {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4bc8f2;
  width: 40px;
  height: 40px;
  padding: 1px;
  margin: 5px;
  color: white;
  border-radius: 12px;
}

.guess-letter p {
  margin: 0;
  line-height: 40px;
}

.result {
  margin: 2rem;
  border: darkgrey solid 1px;
  box-shadow: 3px 4px #1b043a
}

ul {
  padding-inline-start: 0px;
  flex-wrap: wrap;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 8px;
  text-transform: uppercase;
}

input[type=text] {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
}

#word {
  position: relative;
  margin: 1em;
}

#save-word {
  background-color:#4bc8f2;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
}
#save-word:disabled,
#save-word[disabled]{
  display: none;
  background-color:gray;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;ƒ
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}

.user-games, .highscores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2px 16px;
}

.user-card, .highscore-card {
  background-color: #e6e8f2;
  height: auto;
  width: 220px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.highscore-card {
  width: 350px
}

/* On mouse-over, add a deeper shadow */
.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}