body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #b2bec3;
}

.page-container {
  text-align: center;
  background: linear-gradient(to right, #e66465, #9198e5);
}

.login-container {
  width: 50%;
  padding: 40px;
  position: absolute;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #e66465, #9198e5);
  border-radius: 12px;
  transition: 0.25s;
}

.log-in h1 {
  color: white;
  text-transform: uppercase;
}

.input-text {
  border: 0;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #2d3436;
  padding: 14px 10px;
  width: 250px;
  color: grey;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

.input-text:hover {
  width: 400px;
  border-color: #00cec9;
}

.submit {
  border: 0;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #0984e3;
  background-color: #0984e3;
  padding: 14px 10px;
  width: 250px;
  border-radius: 24px;
  outline: none;
  color: white;
  transition: 0.25s;
  text-transform: uppercase;
}

.submit:hover {
  border-color: #00cec9;
  background-color: #00cec9;
}

.user-display {
  margin: 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px #0a5b91
}

#timer {
  color: darkred;
  font-weight: bold;
}

.play-area {
  margin: 2rem;
  border: maroon solid 1px;
  box-shadow: 3px 4px #3a041d
}

#char-list {
  display: flex;
  justify-content: center;
}

.guess-letter {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: red;
  width: 40px;
  height: 40px;
  padding: 1px;
  margin: 5px;
  color: white;
  border-radius: 12px;
}

.guess-letter p {
  margin: 0;
  line-height: 40px;
}

.result {
  margin: 2rem;
  border: darkgrey solid 1px;
  box-shadow: 3px 4px #1b043a
}

/* .button input[type=button], input[type=submit], input[type=reset]{
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin: 18px 3px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
} */

/* .button a:hover input[type=submit], input[type=reset]{
  background-color: #ddd;
  color: black;
} */

ul {
  padding-inline-start: 0px;
}

input[type=text] {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
}

#word {
  position: relative;
  margin: 1em;
  width: 40em;
}

#play-again {
  background-color:green;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}

.replay {
  background-color:green;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}

#save-word {
  background-color:red;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
}
#save-word:disabled,
#save-word[disabled]{
  display: none;
  background-color:gray;
  border: none;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}


.user-games {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 2px 16px;
}

.user-card {
  background-color: #eeeeee;
  height: 250px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media only screen and (min-width: 500px) {
  .user-games {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .user-games {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}